<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>       

    <h3>Patient condulted by Doctors</h3>

    <div class="getIncidentByID">
        <form method="get" action="/allPatientsOfDoctor">
            {{!-- Search incident --}}
            <input type="text" id="fname" name="doctorId" placeholder="Enter Doctor Id...">
            <input type="submit" value="Submit">
        </form>
    </div>
    <table>
{{#if data}}
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Address</th>
            <th>Doctor Name</th>

        </tr>
                  {{#each data}}

        <tr>
                {{#each this}}
            <td>{{this}}</td>

            {{/each}}
        </tr>
        {{/each}}
        {{/if}}
    </table>

</body>

</html>